<div class="pull-left button-padding">
  <button class="btn btn-large btn-primary" id="add_directions_button">Add New Direction</button>
</div>

<div class="pull-left button-padding">
  <%= link_to "Done", recipe_path(@recipe), class: "btn btn-large btn-primary", id: "Done" %>
</div>

<script><%= render partial: "directions/add_directions_button", formats: [:js], handlers: [:erb] %></script>