<% provide(:title, "Edit Directions") %>
<h1>Edit Directions</h1>

<div id="form">
  <section id="directions_list">
    <%= render partial: "directions/list" %>
  </section>

  <section>
    <div id="directions_form">
      <% if (@invalid_direction) %>
        <%= render partial: "directions/form" %>
      <% else %>
        <div class="pull-left button-padding">
          <button class="btn btn-large btn-primary" id="add_directions_button" onclick="ShowDirectionsForm();"> Add New Direction </button>
        </div>

        <div class="pull-left button-padding">
          <%= link_to "Done", recipe_path(@recipe) ,class: "btn btn-large btn-primary", id: "Done" %>
        </div>

        <script>
          function ShowDirectionsForm() {
            $('#directions_form').html("<%= escape_javascript(render('directions/form')) %>");
          }
        </script>
      <% end %>
    </div>
  </section>
</div>
