<% @recipes.each do |recipe| %>
  <div>
    <section>
      <%= link_to recipe.name, recipe %>
    </section>
    <section>
      <%= recipe.description %>
    </section>
    <section>
      <% if can? :destroy, recipe %>
        <%= link_to "delete", recipe, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </section>
  </div>
  <hr>
<% end %>

<%= will_paginate @recipes %>