<section id="directions_list">
  <%= render partial: 'directions/directions_list', formats: [:html] %>
</section>

<section>
  <div id="directions_form">
    <%= render 'directions/directions_form_done' %>
  </div>
</section>
