<% provide(:title, "Recipe Index") %>
<h1>Recipe Index</h1>

<div>
<%= form_tag recipes_path, method: 'get', remote: true do %>
  <p>
    <%= text_field_tag :search, params[:search], id: 'Search'  %>
    <%= submit_tag "Search", name: nil  %>
  </p>  
<% end %>
</div>

<div id="recipes_list"><%= render 'recipes/recipe_list' %><div>