<% provide(:title, "New Recipe") %>
<h1>New Recipe</h1>

<div id="form">
  <%= render 'recipes/recipe_form', formats: [:html] %>
</div>

<script><%= render partial: "recipes/form_state", formats: [:js], handlers: [:erb] %></script>