<% provide(:title, "Sign Up") %>
<h1><%= @user.username %>'s Profile</h1>

<h3>Recipes</h3>
<div id="recipes_list"><%= render 'recipes/list' %><div>

<% if (@user == current_user) %>
  <span>
    <%= link_to "edit", edit_user_path(@user) %>
  </span>
<% end %>