<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <h2 class="logo"><strong>Recipe_App</strong></h2>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Recipes",  recipes_path %></li>
          <li><%= link_to "New Recipe",  new_recipe_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>